<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mqttv3">
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
  <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
  <application>
    <!-- Mqtt Service -->
    <service android:name="org.eclipse.paho.android.service.MqttService" />
  </application>
</manifest>
